<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <title>Huffman Encoding</title>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Huffman Encoding</h1>
        <form method="POST" class="mt-4">
            <div class="form-group">
                <label for="inputString">Input String:</label>
                <input type="text" class="form-control" name="inputString" required>
            </div>
            <button type="submit" class="btn btn-primary">Encode</button>
        </form>
        <a class="btn btn-secondary mt-3" href="/">Back to Home</a>
    </div>
</body>
</html>